<h1>Admin</h1>

<h3>Create New TV Show</h3>
<form (submit)="onSubmitPostTVShow($event)">
    <input 
        type="text" 
        name="title" 
        id="title" 
        placeholder="Title" 
    ><br>
    <input type="submit" value="Create">
</form>

<hr>

<h3>Edit TV Show</h3>
<form (submit)="onSubmitPutTVShow($event)">
    <label for="tvshowBeingEdited">Select a show to edit: </label>
    <select name="tvshowBeingEdited" id="tvshowBeingEdited">
        <option 
            *ngFor="let item of tvshows" 
            value='{{ item.tvshowId }}'
        >
            {{ item.title }} (id:{{ item.tvshowId }})
        </option>
    </select><br>
    <input 
        type="text" 
        name="title" 
        id="title" 
        placeholder="New Title" 
    ><br>
    
    <input type="submit" value="Update">
</form>

<hr>

<h3>Delete TV Show</h3>
<form (submit)="onSubmitDeleteTVShow($event)">
    <label for="tvshowBeingDeleted">Select a show to delete: </label>
    <select name="tvshowBeingDeleted" id="tvshowBeingDeleted">
        <option 
            *ngFor="let item of tvshows" 
            value='{{ item.tvshowId }}'
        >
            {{ item.title }} (id:{{ item.tvshowId }})
        </option>
    </select><br>
    <input type="submit" value="Delete">
</form>

<hr>

<h3>Create New Season</h3>
<form (submit)="onSubmitPostSeason($event)">
    <label for="tvshowToAddSeasonTo">Select a show to add a season to: </label>
    <select name="tvshowToAddSeasonTo" id="tvshowToAddSeasonTo">
        <option 
            *ngFor="let item of tvshows" 
            value='{{ item.tvshowId }}'
        >
            {{ item.title }} (id:{{ item.tvshowId }})
        </option>
    </select><br>

    <input 
        type="number" 
        name="seasonNumber" 
        id="seasonNumber" 
        placeholder="Season Number"
        min="1" 
    ><br>

    <textarea id="summary" name="summary" rows="4" cols="30" placeholder="Summary"></textarea><br>

    <input type="submit" value="Create">
</form>

<hr>

<h3>Update Season</h3>
<form (submit)="onSubmitPutSeason($event)">
    <label for="seasonToUpdate">Season to update: </label>
    <select name="seasonToUpdate" id="seasonToUpdate">
        <option 
            *ngFor="let item of seasons" 
            value='{{ item.seasonId }}'
        >
            {{ item.parentTVShow.title }} (tvshowId:{{ item.parentTVShow.tvshowId }}) - Season {{ item.seasonNumber }} (seasonId:{{ item.seasonId }})
        </option>
    </select><br>

    <input 
        type="number" 
        name="seasonNumber" 
        id="seasonNumber" 
        placeholder="Season Number"
        min="1" 
    ><br>

    <textarea id="summary" name="summary" rows="4" cols="30" placeholder="Summary"></textarea><br>

    <input type="submit" value="Update">
</form>

<hr>

<h3>Delete Season</h3>
<form (submit)="onSubmitDeleteSeason($event)">
    <label for="seasonToDelete">Season to update: </label>
    <select name="seasonToDelete" id="seasonToDelete">
        <option 
            *ngFor="let item of seasons" 
            value='{{ item.seasonId }}'
        >
            {{ item.parentTVShow.title }} (tvshowId:{{ item.parentTVShow.tvshowId }}) - Season {{ item.seasonNumber }} (seasonId:{{ item.seasonId }})
        </option>
    </select><br>

    <input type="submit" value="Delete">
</form>

<hr>

<h3>Create New Episode</h3>
<form (submit)="onSubmitPostEpisode($event)">
    <label for="seasonToAddTo">Season to add to: </label>
    <select name="seasonToAddTo" id="seasonToAddTo">
        <option 
            *ngFor="let item of seasons" 
            value='{{ item.seasonId }}'
        >
            {{ item.parentTVShow.title }} (tvshowId:{{ item.parentTVShow.tvshowId }}) - Season {{ item.seasonNumber }} (seasonId:{{ item.seasonId }})
        </option>
    </select><br>

    <input 
        type="text" 
        name="title" 
        id="title" 
        placeholder="Title" 
    ><br>

    <input 
        type="number" 
        name="episodeNumber" 
        id="episodeNumber" 
        placeholder="Episode Number"
        min="1" 
    ><br>

    <textarea id="plot" name="plot" rows="4" cols="30" placeholder="Plot"></textarea><br>

    <input 
        type="date" 
        name="airdate" 
        id="airdate" 
    ><br>

    <input type="submit" value="Create">
</form>

<hr>

<h3>Update Episode</h3>
<form (submit)="onSubmitPutEpisode($event)">
    <label for="episodeToUpdate">Episode to update: </label>
    <select name="episodeToUpdate" id="episodeToUpdate">
        <option 
            *ngFor="let item of episodes" 
            value='{{ item.episodeId }}'
        >
            {{ item.parentTVShow.title }} (tvshowId:{{ item.parentTVShow.tvshowId }}) - Season {{ item.parentSeason.seasonNumber }} (seasonId:{{ item.parentSeason.seasonId }}) - {{ item.title }} (ep. {{ item.episodeNumber }}) (id:{{ item.episodeId }})
        </option>
    </select><br>

    <input 
        type="text" 
        name="title" 
        id="title" 
        placeholder="Title" 
    ><br>

    <input 
        type="number" 
        name="episodeNumber" 
        id="episodeNumber" 
        placeholder="Episode Number"
        min="1" 
    ><br>

    <textarea id="plot" name="plot" rows="4" cols="30" placeholder="Plot"></textarea><br>

    <input 
        type="date" 
        name="airdate" 
        id="airdate" 
    ><br>

    <input type="submit" value="Update">
</form>

<hr>

<h3>Delete Episode</h3>
<form (submit)="onSubmitDeleteEpisode($event)">
    <label for="episodeToUpdate">Episode to delete: </label>
    <select name="episodeToUpdate" id="episodeToUpdate">
        <option 
            *ngFor="let item of episodes" 
            value='{{ item.episodeId }}'
        >
            {{ item.parentTVShow.title }} (tvshowId:{{ item.parentTVShow.tvshowId }}) - Season {{ item.parentSeason.seasonNumber }} (seasonId:{{ item.parentSeason.seasonId }}) - {{ item.title }} (ep. {{ item.episodeNumber }}) (id:{{ item.episodeId }})
        </option>
    </select><br>

    <input type="submit" value="Delete">
</form>

<br><br><br>