<h1>Admin</h1>

<h3>Create New TV Show</h3>
<form (submit)="onSubmitPostTVShow($event)">
    <input 
        type="text" 
        name="title" 
        id="title" 
        placeholder="Title" 
    ><br>
    <input type="submit" value="Submit">
</form>

<hr>

<h3>Edit TV Show</h3>
<form (submit)="onSubmitPutTVShow($event)">
    <input 
        type="text" 
        name="title" 
        id="title" 
        placeholder="Title" 
    ><br>
    
    <input type="submit" value="Submit">
</form>

<hr>
<ul>
    <li *ngFor="let item of tvshows">{{ item.title }} -- {{ item.tvshowId }}</li>
</ul>

<hr>
<ul>
    <li *ngFor="let item of seasons">{{ item.summary }} -- {{ item.seasonNumber }} -- {{ item.seasonId }}</li>
</ul>

<hr>
<ul>
    <li *ngFor="let item of episodes">{{ item.episodeId }} -- get other things here!</li>
</ul>
