<h1>Admin</h1>

<h3>Create New TV Show</h3>
<form (submit)="onSubmitPostTVShow($event)">
    <input 
        type="text" 
        name="title" 
        id="title" 
        placeholder="Title" 
    ><br>
    <input type="submit" value="Create">
</form>

<hr>

<h3>Edit TV Show</h3>
<form (submit)="onSubmitPutTVShow($event)">
    <label for="tvshowBeingEdited">Select a show to edit: </label>
    <select name="tvshowBeingEdited" id="tvshowBeingEdited">
        <option 
            *ngFor="let item of tvshows" 
            value='{{ item.tvshowId }}'
        >
            {{ item.title }} (id:{{ item.tvshowId }})
        </option>
    </select><br>
    <input 
        type="text" 
        name="title" 
        id="title" 
        placeholder="New Title" 
    ><br>
    
    <input type="submit" value="Update">
</form>

<hr>

<h3>Delete TV Show</h3>
<form (submit)="onSubmitDeleteTVShow($event)">
    <label for="tvshowBeingDeleted">Select a show to delete: </label>
    <select name="tvshowBeingDeleted" id="tvshowBeingDeleted">
        <option 
            *ngFor="let item of tvshows" 
            value='{{ item.tvshowId }}'
        >
            {{ item.title }} (id:{{ item.tvshowId }})
        </option>
    </select><br>
    <input type="submit" value="Delete">
</form>

<hr>

<h3>Create New Season</h3>
<form (submit)="onSubmitPostSeason($event)">
    <label for="tvshowToAddSeasonTo">Select a show to add a season to: </label>
    <select name="tvshowToAddSeasonTo" id="tvshowToAddSeasonTo">
        <option 
            *ngFor="let item of tvshows" 
            value='{{ item.tvshowId }}'
        >
            {{ item.title }} (id:{{ item.tvshowId }})
        </option>
    </select><br>

    <input 
        type="number" 
        name="seasonNumber" 
        id="seasonNumber" 
        placeholder="Season Number"
        min="1" 
    ><br>

    <textarea id="summary" name="summary" rows="4" cols="30" placeholder="Summary"></textarea><br>

    <input type="submit" value="Create">
</form>

<hr>

<h3>Update Season</h3>
<form (submit)="onSubmitPutSeason($event)">
    <label for="seasonToUpdate">Season to update: </label>
    <select name="seasonToUpdate" id="seasonToUpdate">
        <option 
            *ngFor="let item of seasons" 
            value='{{ item.seasonId }}'
        >
            {{ item.parentTVShow.title }} (tvshowId:{{ item.parentTVShow.tvshowId }}) - Season {{ item.seasonNumber }} (seasonId:{{ item.seasonId }})
        </option>
    </select><br>

    <input 
        type="number" 
        name="seasonNumber" 
        id="seasonNumber" 
        placeholder="Season Number"
        min="1" 
    ><br>

    <textarea id="summary" name="summary" rows="4" cols="30" placeholder="Summary"></textarea><br>

    <input type="submit" value="Create">
</form>




<hr>
<ul>
    <li *ngFor="let item of tvshows">{{ item.title }} -- {{ item.tvshowId }}</li>
</ul>

<hr>
<ul>
    <li *ngFor="let item of seasons">{{ item.summary }} -- {{ item.seasonNumber }} -- {{ item.seasonId }}</li>
</ul>

<hr>
<ul>
    <li *ngFor="let item of episodes">{{ item.episodeId }} -- get other things here!</li>
</ul>
